/*  imported Bebas_Neue + Manrope */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@300;400;500&display=swap");

@font-face {
  font-family: "Bebas Neue Book";
  src: url("../src/assets/fonts/Bebas Neue Book.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* global custom class groups */

/* custom colors */

/* custom css */
.btn {
  font-family: "Bebas Neue", sans-serif;
}
p {
  font-family: "Manrope", sans-serif;
}
a {
  font-size: 16px;
  font-weight: 400;
}
